<head>
    <style>
      body {
        margin: 5% 10%;
        background-color: #ddd6fe;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
  
      .reset {
        background-color: #7046b4;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        color: #e7e7e7;
        text-decoration: none;
        border-radius: 5px;
        transition: 0.25s color;
      }
  
      .reset:hover {
        color: #3a1641;
      }
    </style>
  </head>
  
  <body>
    <span>Dear <%= name %></span>
    <span>Your account has been created...</span>    
    <br />
    <span>To login to the dashboard and security purpose, Please reset your password using the link.</span>
    <span>If this was you, please click on the button below. Otherwise, you can ignore it.</span>
    <a href="<%= resetURL %>" class="reset">Reset Password</a>
    <br />
    If the button does not work, please paste the URL below into your browser:
    <a href="<%= resetURL %>"><%= resetURL %></a>
  </body>